@using Abp.Application.Services.Dto;
@using NextGen.BiddingPlatform.AuctionItem.Dto;
@using NextGen.BiddingPlatform.AuctionItem
@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@using NextGen.BiddingPlatform.Category
@inject IWebHostEnvironment env
@inject IAuctionItemAppService _auctionItemAppService
@inject ICategoryAppService _categoryService;
@model PagedResultDto<AuctionItemListDto>
@{
    var appConfiguration = env.GetAppConfiguration();
    var imageServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var data = await _auctionItemAppService.GetAllAuctionItems();
    var categories = await _categoryService.GetAllCategory();
}
<div class="inner-wrapper">
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search with name or item #">
                        <a href="#" class="search-btn">
                            <img src="~/auction/images/svg/search-icon.svg" alt="">
                        </a>
                    </form>
                </div>
                <div class="col-md-6 categories">

                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Categories:<span>All</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>Categories: <span>All</span></li>
                                <li><a href="#">All</a></li>
                                @foreach (var item in categories.Items)
                                {
                                    <li><a href="#" data-value="@item.Id">@item.CategoryName</a></li>
                                }

                            </ul>
                            <a href="#" class="remove-dropdown">
                                <img src="~/auction/images/svg/cross-icon.svg" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="icon">
                        <img src="~/auction/images/svg/category-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-name">
        <div class="container position-relative">
            golf club
            <a href="#" class="remove-bar">
                <img src="~/auction/images/svg/cross-icon.svg" alt="">
            </a>
        </div>
    </div>
    <div class="content-wrapper have-sidename">

        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span>(@data.Items.Count)</span>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/vertical-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/two-product-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row col-gap-20">
                @foreach (var item in data.Items)
                {
                    var fullImagePath = @imageServerPath + "" + @item.ImageName;
                    var remainingTime = DateTime.Today.Add(@item.RemainingTime).ToString("hh:mm");
                    <div class="col-lg-4 col-sm-6">
                        <div class="golf-event">
                            <div class="image">
                                <img src="@fullImagePath" alt="">
                                <div class="numeric">123</div>
                                <a href="#" class="wishlist liked"></a>
                            </div>
                            <div class="desc">
                                <p class="name">@item.ItemName</p>
                                <ul>
                                    <li>
                                        Last Bid:
                                        <span>$@item.LastBidAmount</span>
                                    </li>
                                    <li>
                                        Time Left:
                                        <span>@item.RemainingDays day  @remainingTime hrs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




