@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@using NextGen.BiddingPlatform.Web.Session
@using NextGen.BiddingPlatform.ApplicationConfigurations
@using NextGen.BiddingPlatform.UserEvents
@inject IWebHostEnvironment env
@inject IPerRequestSessionCache _sessionCache
@inject IApplicationConfigurationsAppService _appConfigService
@inject IUserEventsAppService _userEventService
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var webSitePath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:WebSiteRootAddress", string.Empty);
    var tenantId = ConfigurationBinder.GetValue<string>(appConfiguration, "App:TenantId", string.Empty);
    var userLoggedIn = await _sessionCache.GetCurrentLoginInformationsAsync();
    var isLogin = userLoggedIn.User != null ? true : false;
    var registerEventRoute = "";
    var userID = "";
    bool isRegisterForEvent = false;
    if (!isLogin)
    {
        registerEventRoute = await _appConfigService.GetConfigByKey("RegisterEventUrl", int.Parse(tenantId));
    }
    else
    {
        userID = userLoggedIn.User.Id.ToString();
        if (@ViewBag.EventId.ToString() != Guid.Empty.ToString())
            isRegisterForEvent = await _userEventService.IsUserRegisteredForAnEvent(userLoggedIn.User.Id, @ViewBag.EventId, int.Parse(tenantId));
    }
}
<style>
    .account a::after {
        display: none;
    }

    .account a:first-child {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .golf-event .image img {
        height: 200px !important;
    }
</style>
<div class="inner-wrapper">
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 search">
                    <form>
                        <input type="text" class="form-control" id="txtSearch" placeholder="Search with name or item #">
                        <a href="#" class="search-btn">
                            <img src="~/auction/images/svg/search-icon.svg" alt="">
                        </a>
                    </form>
                </div>
                <div class="col-md-6 categories">

                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Categories:<span id="selectedCategory">All</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul id="categories">
                                <li>Categories: <span>All</span></li>
                                <li><a href="#" class="active">All</a></li>
                            </ul>
                            <a href="#" class="remove-dropdown">
                                <img src="~/auction/images/svg/cross-icon.svg" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="icon">
                        <img src="~/auction/images/svg/category-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="page-name">
            <div class="container position-relative">
                golf club
                <a href="#" class="remove-bar">
                    <img src="~/auction/images/svg/cross-icon.svg" alt="">
                </a>
            </div>
        </div>*@
    <div class="content-wrapper have-sidename">
        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span id="itemCount"></span>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/vertical-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/two-product-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row col-gap-20" id="auctionItems">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var ApiServerPath = "@apiServerPath";
        var WebSiteUrl = "@webSitePath";
        var IsLoggedInUser = "@ViewBag.IsLoggedInUser".toLowerCase();
        var UserId = "@userID";
        var tenantId = "@tenantId";
        var eventId = "@ViewBag.EventId";
        var isRegisterForEvent = "@isRegisterForEvent".toLowerCase() === "true";

        $(document).on("click", "#registerToEvent", function (e) {
            e.preventDefault();
            var eventId = $(this).attr("data-event-id");
            location.href = "@registerEventRoute".replace("{eventId}", eventId);
        });
    </script>
    <script src="~/auction/js/auctionitems.js"></script>
}