@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@using NextGen.BiddingPlatform.Web.Session
@using NextGen.BiddingPlatform.ApplicationConfigurations
@inject IWebHostEnvironment env
@inject IPerRequestSessionCache _sessionCache
@inject IApplicationConfigurationsAppService _appConfigService
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var webSitePath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:WebSiteRootAddress", string.Empty);
    var tenantId = ConfigurationBinder.GetValue<string>(appConfiguration, "App:TenantId", string.Empty);
    var userLoggedIn = await _sessionCache.GetCurrentLoginInformationsAsync();
    var isLogin = userLoggedIn.User != null ? true : false;
    var registerEventRoute = "";
    var userID = "";
    if (!isLogin)
    {
        registerEventRoute = await _appConfigService.GetConfigByKey("RegisterEventUrl",int.Parse(tenantId));
    }
    else
    {
        userID = userLoggedIn.User.Id.ToString();
    }
}
<style>
    /* .hide-nav-items {
        display: none !important;
    }*/
    .myActivity,
    .pay-item,
    .donate-item,
    .account a::after {
        display: none;
    }

    .account a:first-child {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .btn.btn-default.gray-btn:hover,
    .btn.btn-default.gray-btn:focus {
        background: #fff !important;
        color: gray !important;
        border: 2px solid gray !important;
    }

    button.btn {
        width: 49%;
    }
</style>
<div class="inner-wrapper">
    <div class="content-wrapper have-sidename">
        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span id="eventCount"></span>
                </div>

            </div>
            <div class="col-gap-20">
                <div id="tbl-events" class="row">
                </div>
            </div>
        </div>
    </div>
</div>

<script id="eventsTemplate" type="x-tmpl-mustache">
    <div class="col-lg-4 col-sm-6">
        <div class="golf-event closed">
            <div class="item-section-border">
            @*<div class="image">
                <img src="{{imageName}}" alt="">

            </div>*@
            <div class="desc">
                <p class="name" style="min-height:30px;">{{eventName}}</p>
                <div style="margin-bottom:20px;">Item Count: {{itemCount}}</div>
                <ul>
                    <li style="text-align:left;">
                        Start Date:
                        <span style="display:inline-block;">{{eventStartDateTimeStr}}</span>
                    </li>
                </ul>
                 {{#isRegistered}}
                    <button class="btn btn-default gray-btn" data-event-id={{uniqueId}} id="startBidding" style="cursor:pointer; background:gray;color:#fff;border:0; width:100%;">Start Bidding</button>
                 {{/isRegistered}}
                 {{^isRegistered}}
                 <div style="display:flex; margin-top:10px; justify-content:space-between;">
                 <button class="btn btn-default gray-btn" data-event-id={{uniqueId}} id="view-items" style="cursor:pointer;background:gray;color:#fff;border:0">View</button>
                 <button class="btn btn-primary" id="registerToEvent" data-event-id={{uniqueId}} style="cursor:pointer">Register</button>
                 </div>
                 {{/isRegistered}}

            </div>
        </div>
        </div>
    </div>
</script>
@section Scripts
{
    <script>
        var ApiServerPath = "@apiServerPath";
        var WebSiteUrl = "@webSitePath";
        var tenantId = "@tenantId";
        var isLoggedInUser = "@isLogin".toLowerCase();

        $(function () {
            $(".myActivity").addClass("hide-nav-items");
            $(".pay-item").addClass("hide-nav-items");
            $(".donate-item").addClass("hide-nav-items");
            $(".account").addClass("hide-nav-items");

            $(document).off("click", ".logo, .logo-heading");

            var url = "/api/services/app/AccountEvent/GetAllAnnonymousAccountEvents?includeClosed=true";
            $.ajax({
                url: ApiServerPath + url,
                headers: {
                    "Abp.TenantId": tenantId
                },
                type: "GET",
                cache: false,
                async: true,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        console.log(response);


                        if (isLoggedInUser === "true") {
                            GetUserRegisterEvets(response.result.data);
                        }
                        else {
                            AppendEvents(response.result.data);
                        }
                    }
                    else if (!response.success) {
                        alert(response.result.error.message);
                    }
                    else {
                        alert("Internal server error!!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText + " " + xhr.status)
                }
            });
        });

        function AppendEvents(data) {
            var totalItems = 0;
            $("#tbl-events").empty();
            $.each(data, function (i, v) {
                v.imageName = WebSiteUrl + "/auction/images/no-img.png";
                var output = Mustache.render($("#eventsTemplate").html(), v);
                $("#tbl-events").append(output);
                totalItems += 1;
            });
            $("#eventCount").text('(' + totalItems + ')');
        }

        function GetUserRegisterEvets(eventsData) {
            var route = "/api/services/app/UserEvents/GetUserRegisterEvents?userId=" + "@userID";
            $.ajax({
                url: ApiServerPath + route,
                headers: {
                    "Abp.TenantId": tenantId
                },
                type: "GET",
                cache: false,
                async: true,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        $.each(eventsData, function (i, s) {

                            if (response.result.some((x) => x === s.uniqueId)) {
                                s.isRegistered = true;
                            }
                            else {
                                s.isRegistered = false;
                            }
                        });
                        AppendEvents(eventsData);
                    }
                    else if (!response.success) {
                        alert(response.result.error.message);
                    }
                    else {
                        alert("Internal server error!!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText + " " + xhr.status)
                }
            });
        }


        $(document).on("click", "#view-items", function (e) {
            e.preventDefault();

            var uniqueId = $(this).attr("data-event-id");

            location.replace("/Home/PublicEventItems?eventId=" + uniqueId);
        });

        $(document).on("click", "#registerToEvent", function (e) {
            e.preventDefault();
            var eventId = $(this).attr("data-event-id");
            location.href = "@registerEventRoute".replace("{eventId}", eventId);
        });

        $(document).on("click", "#startBidding", function (e) {
            e.preventDefault();

            var eventId = $(this).attr("data-event-id");
            location.href = "/Home/Index?eventId=" + eventId;
        });

    </script>
}