@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration

@using NextGen.BiddingPlatform.Web.Session
@using NextGen.BiddingPlatform.ApplicationConfigurations
@inject IWebHostEnvironment env

@inject IPerRequestSessionCache _sessionCache
@inject IApplicationConfigurationsAppService _appConfigService
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var webSitePath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:WebSiteRootAddress", string.Empty);
    var tenantId = ConfigurationBinder.GetValue<string>(appConfiguration, "App:TenantId", string.Empty);

    var userLoggedIn = await _sessionCache.GetCurrentLoginInformationsAsync();
    var isLogin = userLoggedIn.User != null ? true : false;
    var registerEventRoute = "";
    if (!isLogin)
    {
        registerEventRoute = await _appConfigService.GetConfigByKey("RegisterEventUrl",int.Parse(tenantId));
    }
}
<style>
    .myActivity,
    .pay-item,
    .donate-item,
    .account a::after {
        display: none;
    }

    .account a:first-child {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
</style>

<div class="inner-wrapper">
    <div class="content-wrapper have-sidename">
        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span id="itemCount"></span>
                </div>
                <div class="">
                    <button class="btn btn-primary" style="padding: 4px 20px 5px;" id="registerToEvent" data-event-id="@ViewBag.EventId">REGISTER TO BID</button>
                </div>
            </div>
            <div class="row col-gap-20" id="auctionItems">
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var ApiServerPath = "@apiServerPath";
        var WebSiteUrl = "@webSitePath";
        var tenantId = "@tenantId";
        var eventId = "@ViewBag.EventId";

        $(function () {
            $(".myActivity").addClass("hide-nav-items");
            $(".pay-item").addClass("hide-nav-items");
            $(".donate-item").addClass("hide-nav-items");
            $(".account").addClass("hide-nav-items");

            $(document).off("click", ".logo, .logo-heading");

            var url = "/api/services/app/AuctionItem/GetAllAuctionItems?eventId=" + eventId;
            $.ajax({
                url: ApiServerPath + url,
                headers: {
                    "Abp.TenantId": tenantId
                },
                type: "GET",
                cache: false,
                async: true,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        var totalItems = 0;

                        $("#auctionItems").empty();
                        var data = response.result.items;
                        $.each(data, function (i, v) {
                            if (!v.isAuctionExpired) {
                                if (v.mainImageName !== undefined && v.mainImageName !== null && v.mainImageName !== "") {
                                    v.imageName = ApiServerPath + v.mainImageName;
                                }
                                else {
                                    v.imageName = WebSiteUrl + "/auction/images/no-img.png";
                                }
                                var output = Mustache.render($("#auctionItemTemplate").html(), v);
                                $("#auctionItems").append(output);
                                totalItems += 1;
                            }
                        });
                        $("#itemCount").text('(' + totalItems + ')');

                    }
                    else if (!response.success) {
                        alert(response.result.error.message);
                    }
                    else {
                        alert("Internal server error!!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText + " " + xhr.status)
                }
            });
        });

        $(document).on("click", ".golf-event .desc, #viewItem", function (e) {
            e.preventDefault();
            var isClosedAuction = $(this).parents(".golf-event").attr("data-is-closed-auction");
            var itemStatus = $(this).parents(".golf-event").attr("data-itemstatus");

            var route = "/Home/PublicEventAuctionItem?auctionItemId=" + $(this).parents(".golf-event").attr("data-id");
            route += "&eventId=" + eventId;


            location.href = route;
        });

         $(document).on("click", "#registerToEvent", function (e) {
            e.preventDefault();
            var eventId = $(this).attr("data-event-id");
            location.href = "@registerEventRoute".replace("{eventId}", eventId);
        });

    </script>

}