@model List<AccountEventListDto>
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@{
    var publicUrl = _config["Bidding:PublicSiteUrl"];
}
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Event Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    var eventUrl = publicUrl + "?eventId=" + item.UniqueId;
                }
                <td><a href="@eventUrl">@item.EventName</a></td>
                <td>@item.EventStartDateTime</td>
                <td>@item.EventEndDateTime</td>
                <td>@item.EventUrl</td>
                <td>
                    <button class="btn btn-primary register-to-event" data-event-id="@item.UniqueId">Register to Event</button>
                    <a style="display:none;" href="javascript:void(0)" class="btn btn-secondary start-bidding" data-event-id="@item.UniqueId">Start Bidding</a>
                </td>
            </tr>
        }
    </tbody>
</table>