@using NextGen.BiddingPlatform.Web.Public.Views.Shared.Components.Header
@using NextGen.BiddingPlatform.Web.Navigation
@using Abp.Extensions;
@model HeaderViewModel
@{
    var orderedMenuItems = Model.Menu.Items.OrderByCustom().ToList();
}
<style>
    .logo-pointer {
        cursor: pointer;
    }
</style>
<nav class="d-none mob-nav">
    <ul class="list-unstyled">
        <li><a href="/Home/CurrentBids">My Activity</a></li>
        <li><a href="#">Pay</a></li>
        <li><a href="#">Donate</a></li>
        @if (Model.LoginInformations?.User != null)
        {
            <li><a href='/Account/Logout'>Logout</a></li>
            <li class="account">

                <i class="fa fa-cogs" style="margin-right:10px;"></i>
                @Model.GetShownLoginName()
            </li>
        }
        else
        {
            <li><a href="/Account/NewLogin">Login</a></li>
        }

    </ul>
</nav>
<header>
    <div class="container">

        <div class="d-flex align-items-center justify-content-between">
            <div class="left-side logo-pointer">
                <div class="logo-heading logo-pointer">
                    @*Silent Auctions*@
                    <img src="~/auction/images/bidding_logo.png" alt="" style="width:200px;">
                </div>
                @*<div class="logo logo-pointer">
                        POWERED BY
                        <img src="~/auction/images/eventlify-logo.png" alt="">
                    </div>*@
            </div>
            <div class="right-side">
                <nav>
                    <ul class="list-inline d-none-md">
                        <li class="myActivity"><a href="/Home/CurrentBids">My Activity</a></li>
                        <li class="pay-item"><a href="#">Pay</a></li>
                        <li class="donate-item"><a href="#">Donate</a></li>
                        <li class="account">
                            @if (Model.LoginInformations?.User != null)
                            {
                                <i class="fa fa-cogs" style="margin-right:10px;"></i>
                                @Model.GetShownLoginName()
                                <a href='/Account/Logout'>&nbsp;| LOGOUT</a>
                            }
                            else
                            {
                                @*<a href="@(string.Format("{0}{1}?ss={2}&returnUrl={3}", Model.AdminWebSiteRootAddress, "account/login", "true", Model.WebSiteRootAddress + "Account/Login"))">LOGIN</a>*@

                                <a href="/Account/NewLogin">LOGIN</a>

                            }
                            @*@if (Model.LoginInformations?.User == null && Model.IsMultiTenancyEnabled && Model.TenantRegistrationEnabled && Model.IsInHostView)
                                {
                                    <a href="@(string.Format("{0}{1}", Model.AdminWebSiteRootAddress,"?redirect=TenantRegistration&forceNewRegistration=true"))">SIGNUP</a>
                                }*@
                        </li>
                    </ul>
                    <ul class="list-inline d-none show-on-md">
                        <li class="account">
                            @if (Model.LoginInformations?.User != null)
                            {
                                @Model.GetShownLoginName()
                            }
                            else
                            {
                                <a href="@(string.Format("{0}{1}?ss={2}&returnUrl={3}", Model.AdminWebSiteRootAddress, "account/login", "true", Model.WebSiteRootAddress + "Account/Login"))">LOGIN</a>

                            }
                            @if (Model.LoginInformations?.User == null && Model.IsMultiTenancyEnabled && Model.TenantRegistrationEnabled && Model.IsInHostView)
                            {
                                <a href="@(string.Format("{0}{1}", Model.AdminWebSiteRootAddress,"?redirect=TenantRegistration&forceNewRegistration=true"))">SIGNUP</a>
                            }
                        </li>
                        <li class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </li>
                    </ul>


                </nav>
            </div>
        </div>

    </div>

</header>
