@using NextGen.BiddingPlatform.Web.Public.Views.Shared.Components.Header
@using NextGen.BiddingPlatform.Web.Navigation
@using Abp.Extensions;
@model HeaderViewModel
@{
    var orderedMenuItems = Model.Menu.Items.OrderByCustom().ToList();
}
<nav class=" d-none mob-nav">

    <ul class="list-unstyled">
        <li><a href="#">Donate</a></li>
        <li><a href="#">Pay</a></li>
        <li><a href="#">My Info</a></li>
        <li><a href="#">My Activity</a></li>
    </ul>
</nav>
<header>
    <div class="container">

        <div class="d-flex align-items-center justify-content-between">
            <div class="left-side">
                <div class="logo-heading">
                    Silent Auctions
                </div>
                <div class="logo">
                    POWERED BY
                    <img src="~/auction/images/eventlify-logo.png" alt="">

                </div>
            </div>
            <div class="right-side">
                <nav>
                    <ul class="list-inline d-none-md">
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Pay</a></li>
                        <li><a href="#">My Info</a></li>
                        <li><a href="#">My Activity</a></li>
                        <li class="account">
                            @if (Model.LoginInformations?.User != null)
                            {
                                @Model.GetShownLoginName()
                            }
                            else
                            {
                                <a href="@(string.Format("{0}{1}?ss={2}&returnUrl={3}", Model.AdminWebSiteRootAddress, "account/login", "true", Model.WebSiteRootAddress + "Account/Login"))">LOGIN</a>

                            }
                            @if (Model.LoginInformations?.User == null && Model.IsMultiTenancyEnabled && Model.TenantRegistrationEnabled && Model.IsInHostView)
                            {
                                <a href="@(string.Format("{0}{1}", Model.AdminWebSiteRootAddress,"?redirect=TenantRegistration&forceNewRegistration=true"))">SIGNUP</a>
                            }
                        </li>
                    </ul>
                    <ul class="list-inline d-none show-on-md">
                        <li class="account">
                            @if (Model.LoginInformations?.User != null)
                            {
                                @Model.GetShownLoginName()
                            }
                            else
                            {
                                <a href="@(string.Format("{0}{1}?ss={2}&returnUrl={3}", Model.AdminWebSiteRootAddress, "account/login", "true", Model.WebSiteRootAddress + "Account/Login"))">LOGIN</a>

                            }
                            @if (Model.LoginInformations?.User == null && Model.IsMultiTenancyEnabled && Model.TenantRegistrationEnabled && Model.IsInHostView)
                            {
                                <a href="@(string.Format("{0}{1}", Model.AdminWebSiteRootAddress,"?redirect=TenantRegistration&forceNewRegistration=true"))">SIGNUP</a>
                            }
                        </li>
                        <li class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </li>
                    </ul>


                </nav>
            </div>
        </div>

    </div>

</header>
